<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="https://via.placeholder.com/100x100" alt="">
                <div class="info-usuario">
                    <p> <%= info.username  %>  </p>
                    <a class="follow" href="/users/editarPerfil"><i class="fa-solid fa-user-gear"></i></a>
                    <ul class="meta">
                        <li> <%= info.posts %> </li>
                        <li><%= info.seguidores %></li>
                        <li><%= info.seguidos %></li>
                    </ul>
                </div>
            </section>
            <section class="bottom">
                <!-- ACA VA EL FOR -->


           <article class="post">
                    <a href="/posts/detallePost">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
                <article class="post">
                    <a href="/posts/detallePost">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
                <article class="post">
                    <a href="/posts/detallePost">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
                <article class="post">
                    <a href="/posts/detallePost">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
                <article class="post">
                    <a href="/posts/detallePost">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
                <article class="post">
                    <a href="/posts/detallePost">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
                <article class="post">
                    <a href="/posts/detallePost">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
            </section>
          
           
        </div>
    </main>
  

    <%- include('./partials/footer') %>
</body>

</html>