<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src=" <%=info.foto%> " alt="">
                <div class="info-usuario">
                    <p> <%= info.username %>     </p> 
                    <a class="follow" href="/users/editarPerfil/0"><i class="fa-solid fa-user-gear"></i></a>
                    <ul class="meta">
                        <li> <%= info.posteos %> </li>
                        <li> <%= info.seguidores %> </li>
                        <li> <%= info.seguidos %> </li>
                    </ul>
                </div>
            </section>
            <section class="bottom">
<<<<<<< HEAD
            <% for(let i=0; i<posts.length;i++){ %>
=======
                <!-- ACA VA EL FOR -->


           <article class="post">
                    <a href="/posts/detallePost">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
                <article class="post">
                    <a href="/posts/detallePost">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
                <article class="post">
                    <a href="/posts/detallePost">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
>>>>>>> 548c7180a2da786f3794a527b837c8f3394da8e2
                <article class="post">
                    <a href="/posts/detallePost">
                        <img src="<%= posts[i].foto %>" alt="">
                        <p> <%= posts[i].texto %></p>
                    </a>
<<<<<<< HEAD
                    </article>
                <% } %>
=======
                </article>
                <article class="post">
                    <a href="/posts/detallePost">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
                <article class="post">
                    <a href="/posts/detallePost">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
                <article class="post">
                    <a href="/posts/detallePost">
                        <img src="https://via.placeholder.com/200x250" alt="">
                    </a>
                </article>
>>>>>>> 548c7180a2da786f3794a527b837c8f3394da8e2
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>